html { box-sizing: border-box;}
*, ::before, ::after {box-sizing: inherit;}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 87.5%;
    color: hsl(228, 12%, 48%);
    background-color: hsl(30, 38%, 92%);
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    width: 20rem;
    margin: 2rem auto;
    border-radius: 10px;
}

.card img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.heading {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin: 0;
}

.main h1 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
}

.description {
    line-height: 1.5;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.pricing {
    display: flex;
    align-items: center;
}

.sale {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 2em;
    margin: 0;
}

.price {
    text-decoration: line-through;
    padding-left: 1rem;
    margin: 0;
}

.addToCart {
    display: block;
    background-color: hsl(158, 36%, 37%);
    text-decoration: none;
    text-align: center;
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    margin: 1rem auto 0 auto;
    padding: 1rem;
}

.addToCart:hover,
.addToCart:focus {
    background-color: hsl(159, 37%, 25%);
}

.attribution { 
    font-size: 0.785em; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 100%;
    }
    .card {
        flex-direction: row;
        width: 40rem;
    }

    .card img {
        border-radius: 10px 0 0 10px;
    }

    picture,
    .main {
        flex: 0 0 50%;
    }

    .main {
        justify-content: center;
        padding: 2rem;
    }
}